.banner-component {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-inline: 32px;
  padding: 16px;
  margin-bottom: 16px;
}

.banner-image {
  object-fit: cover;
  width: 60%;
  height: 124px;
}

.banner-title {
  margin: auto;
}
